// @forward "base";
// @forward "default-settings";
// @forward "mixins";
// @forward "personal-classes";
// @forward "responsive";
// @forward "variables";
// @use "mixins" as *;
// @use "variables" as *;
@import "base";
@import "default-settings";
@import "mixins";
@import "personal-classes";
@import "responsive";
@import "variables";



///////////////////// global ///////////////////////

// pickers
@layer layout {
.v-picker--date {
  .v-date-picker-table, .v-picker__body {background-color: var(--active) !important}
    .v-btn--active {background-color: var(--secondary) !important}
    .primary--text {color: var(--secondary) !important}
  }
}
.headerless {
  .v-picker__title, .v-date-picker-header {display: none !important}
}

// background aplication
.v-application:not(#layout) {
  background-image: url(../../sources/images/bg-app.png) !important;
}

// global width item cards
:root {
  --w-items: min(100%, 35em);
}

// input selects
@layer layout {
  .v-input.v-select * {color: #fff !important}
}

// custome tooltip
.custome-tooltip {
  --c: var(--primary);
  
  max-width: 15em !important;
  position: relative;
  font-style: italic;
  line-height: 1.1 !important;
  padding: .5em 1em !important;
  opacity: .9;

  &::after {
    --size: 1.25em;
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    right: 0;
    margin: auto;
    
    width: 0; 
    height: 0; 
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #fff;
  }
}
