// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // contributions // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#contributions {
  > section {
    width: 100vw;
    margin-inline: calc(50% - 50vw);
  }

  &--top {
    background: center no-repeat url(../../sources/images/bg-app.png);
    background-size: cover;
    &-wrapper {
      @include parent;
      padding-inline: var(--margin-global);
      padding-block: calc(var(--h-navbar) + 20px + 20px) 3.5em;
      gap: 30px;
    }
    &-content {
      --bg: #2B4DDF;
      --w: var(--w-items);
      aspect-ratio: 2.2 / 1;
      
      background-image: url(../../sources/images/contributions-decoration.png) !important;
      background-position: top right !important;
      background-repeat: no-repeat !important;
      background-size: 25% !important;
      gap: 1.5em;
    }
  }

  &--bottom {
    @include parent;
    padding-inline: var(--margin-global);
    padding-block: 2.5em;
    background-color: #fff;
    .v-card {
      $mobile: 400px;
      --gtc: 1fr 1fr;
      --w: var(--w-items);
      margin-inline: auto;
      position: relative;
      @include media(max, 600px) {--gtc: max(140px, 15em) 1fr}
      @include media(max, $mobile) {
        --gtc: 1fr;
        gap: 10px;
      }
      // line
      > div {
        --margin: 1.6em;
        @include media(max, $mobile) {--margin: 0}
        
        &:first-child {
          padding-right: var(--margin);
          --w-line: 1px;
          --h-line: calc(80% - 16.8px);
          --l: auto;
          --m: 0;
          @include media(max, $mobile) {
            &::before {display: none !important};
            margin-right: 30px;
          }
          & + div {padding-left: var(--margin)}
        }
        
        .v-input__slider {
          max-width: 298px !important;
          width: 100% !important;
          margin-left: auto;
          .v-slider__thumb-container {display: none}
          .v-slider__track {
            &-container {
              height: 18px;
              border-radius: 10px;
              background-color: #daddde !important;
            }
            &-fill {
              background: no-repeat var(--bg-image) !important;
              background-size: fill !important;
              border-radius: 0 10px 10px 0;
            }
          }
        }
        
        button {
          width: max-content;
          @include media(max, $mobile) {
            @include absolute(auto, 1.4em, 1.6em);
          }
        }
      }
      
      .hspan {
        --stroke: .8px;
        --fw: bold;
        --fs: max(17px, 2em);
        & + .hspan {
          --stroke: .1px;
          --fs: max(16px, 1.25em);
          margin-bottom: 2px;
        }
      }
      span:not(.hspan) {
        opacity: .8;
        font-size: max(11px, 0.8em);
        line-height: 1.2;
      }
    }
  }
}
