// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // profile // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#profile {
  @include parent;
  padding-top: 3em;
  padding-inline: var(--margin-global);

  > div:first-child {
    --spacing: 2.5em;
    position: relative;
    margin-bottom: var(--spacing);
    padding-bottom: var(--spacing);
    // margins
    > img ~ *:not(img) {margin-top: 10px}
    // line
    &::after {
      content: "";
      @include absolute(0, auto, 0, 0);
      width: 200px;
      height: 1px;
      background-color: #fff;
    }
  }

  h2 {
    --fs: max(21px, 1.8em);
  }

  #container-contact {
    --fs: max(16px, 1.25em);
    
    span {line-height: 1.1}
    
    span:first-of-type,
    span:first-of-type + span {--fw: 900}
    span:first-of-type + span ~ span {opacity: .9}
  }
}
