// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // settings // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#settings {
  padding-block: calc(var(--h-navbar) + 20px) var(--h-footer, 80px) !important;

  & > * {
    font-size: var(--resizer);
    @include media(max, small) {
      font-size: var(--resizer-mobile)
    }
  }

  &-content {
    @include parent;
    padding-inline: var(--margin-global);

    &--button-back {
      position: absolute;
      top: 0;
      left: 0;
      @include media(max, 600px) {
        top: -55px;
        left: 10px;
      }
    }

    > h3, #security > h3, #beneficiaries > h3 {
      margin-top: 1em;
    }

    h2 {
      --fs: max(18px, 2.5em);
    }
    h3 {
      text-align: center;
      --fw: 900;
      --fs: max(16px, 1.5em);
    }
    label {
      --fw: 900;
      --fs: max(16px, 1.3em);
      // text-indent: 1ch;
      padding-left: 1ch;
    }
    .v-btn.btn {
      --bg: var(--active);
      --fs: max(15px, 1.4em);
      --w: max-content;
    }
    .v-input {
      --bg: var(--primary);
      --fs: 1em;
      
      * {text-transform: capitalize}
      &__prepend-outer {
        margin-block: 0;
        input {display: none}
        .v-input__append-inner {
          padding: 0;
          .v-icon {font-size: 1.1em}
        }
      }

      &.surnames {
        max-width: 5em !important;
      }
    }
    .v-card, .v-form {
      --bg: var(--accent);
      --w: var(--w-items);
    }

    #beneficiaries {
      width: var(--w-items);
      
      h3 {
        // text-indent: 1ch;
        padding-left: 1ch;
        text-align: start;
        row-gap: 5px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
      }
      h3 span {
        --fw: 100;
        font-size: .7em;
        opacity: .5;
        font-style: italic;
      }
    }
  }


  // &.password {
  //   .v-input {
  //     --bg: var(--active);
      
  //     &__prepend-outer {
  //       margin-block: 0;
  //       * {color: #fff !important}
  //       input {display: none}
  //       .v-input__append-inner {
  //         padding: 0;
  //         .v-icon {font-size: 1.1em}
  //       }
  //     }
  //   }
  // }
}
