// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // verification // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#verification {
  background: center no-repeat fixed url(../../sources/images/bg-app.png);
  background-size: cover;
  
  & > * {
    font-size: var(--resizer);
  }
  .v-main {
    padding-block: calc(var(--h-navbar) + 20px) var(--h-footer, 80px) !important;
    & > * {
      @include media(max, small) {
        font-size: var(--resizer-mobile)
      }
    }
  }

  &-content {
    @include parent;
    padding-inline: var(--margin-global);

    &--button-back {
      position: absolute;
      top: 0;
      left: 0;
      @include media(max, 600px) {
        top: -55px;
        left: 10px;
      }
    }

    .window-content {
      --width: min(100%, 37em);
      width: var(--width);
      margin-inline: auto;
    }

    h2 {
      --fs: max(18px, 2.3em);
      text-align: center;
    }
    h3 {
      text-align: center;
      --fw: 900;
      --fs: max(16px, 1.5em);
    }
    label {
      --fw: 900;
      --fs: max(16px, 1.3em);
      // text-indent: 1ch;
      padding-left: 1ch;
    }
    .v-btn.btn {
      --bg: var(--primary);
      &#go-back {--bg: var(--active)}
      --fs: max(15px, 1.4em);
      --w: max-content;
    }
    ul {
      padding-left: 0;
      list-style: none;
      li {
        opacity: .8;
        font-size: max(14px, 1.15em);
        line-height: 1.1;
        & + li {margin-top: .5ch}
        a {
          --fw: 100;
          opacity: .65;
          font-style: italic;
        }
      }
    }

    .v-input {
      --bg: var(--primary);
    }
    .container-label {
      label {
        text-align: start;
        gap: 5px;
        flex-wrap: wrap;
      }
      label span {
        --fw: 100;
        font-size: .8em;
        opacity: .6;
        font-style: italic;
      }
    }

    .v-otp-input {
      .v-input__slot {
        background-color: #fff !important;
        width: clamp(2.5em, 5vw, 5.3125em);
        aspect-ratio: 1 / .95;
        input {
          caret-color: #000 !important;
          color: #000 !important;
          font-size: 19px !important;
          font-weight: 700 !important;
        }
      }
    }

    .v-file-input {
      // &:not(.wallet_direction) {max-width: 50% !important}
      .v-input__slot {
        aspect-ratio: 1.6 / 1 !important;
        @include media(max, 380px) {aspect-ratio: 2.6 / 1 !important}
        padding-inline: 0 !important;
      }
      &:only-child {
        .v-input__slot {
          aspect-ratio: 2.6 / 1 !important;
          padding-inline: 0 !important;
        }
      }
      .v-text-field__slot {
        width: 100% !important;
        height: 100% !important;
      }
      .v-label {
        @include media(max, 700px) {font-size: var(--resizer)}
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px;
        height: 100% !important;
        width: 100% !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        margin: auto !important;
        padding: 0 !important;
        opacity: .7;
        img {--w: 1.7em}
        span.hspan {
          --fs: max(15px, 1.1em);
          --fw: 900;
        }
      }
    }

    .v-card {
      --bg: var(--accent);
    }
  }


  &.account {
    .v-form {
      --bg: var(--accent);
    }
  }
}

.desplegableMenuVerificationAccount .v-list {
  background-color: var(--active) !important;
}
