// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // withdrawals // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#withdrawals {
  @include parent;
  padding-top: 3em;
  padding-inline: var(--margin-global);

  h2 {
    --fs: max(18px, 1.8em);
    // --stroke: 1.5px;
  }
  h3 {
    --fs: max(16px, 2.5em);
    // --stroke: .1px;
  }

  .v-card:not(#table-card) {
    --p: clamp(1.5em, 2vw, 2em);
  }

  .v-btn.btn {
    --fs: max(13px, 1.2em);
  }

  --spacing: 5px;
  .anchorlineb {
    padding-right: var(--spacing);
    & + #container-h2 {padding-left: var(--spacing)}
  }
}
