// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // withdrawals // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#withdrawals {
  @include parent;
  padding-inline: var(--margin-global);

  h2 {
    --fs: max(16px, 1.5em);
    --stroke: 1.5px;
    --ls: .1em;
  }
  h3 {
    --fs: max(16px, 2.5em);
    --stroke: .1px;
    --ls: .05em;
  }

  .v-card {
    aspect-ratio: 2.3 / 1;
  }

  .v-btn.btn {
    --stroke: 0px;
    --fs: max(13px, 1.2em);
  }

  --spacing: 5px;
  .anchorlineb {
    padding-right: var(--spacing);
    & + h2 {padding-left: var(--spacing)}
  }
}
