// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // layout // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#layout {
  // overflow: hidden;

  //- responsive font size -//
  & > * {
    font-size: var(--resizer);
  }
  .v-main {
    padding-block: calc(var(--h-navbar) + 20px) var(--h-footer, 80px) !important;
    & > * {
      @include media(max, small) {
        font-size: var(--resizer-mobile)
      }
    }
  }
}
